html
{
    height: 100%;
    background: #fff;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 81.25%;
}

body
{
    min-height: 100%;
    margin: 0;
}

div
{
    max-height: 999999px;
}

.gridLayout
{
    width: 100%;
    display: grid;
    grid-template-areas: 'head head mail'
        'logo info mail'
        'logo search mail'
        'logo advertising mail'
        'logo widgets mail';
}

.mailBox
{
    grid-area: mail;
    width: 189px;
}

.mailboxInfo
{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 12px 14px;
    height: 60px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 0 2px 6px 0 rgba(0,0,0,.1);
}

.userEmail
{
    margin-top: 0;
    margin-bottom: 10px;
}

.userEmail::first-letter
{
    color: red;
}

.headline
{
    height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-right: 10px;
    grid-area: head;
    display: flex;
}

.pageSetting
{
    margin-left: auto;
}

.geoIco
{
    content: url(https://pp.userapi.com/c639428/v639428369/623ad/DxkYslLkd54.jpg);
    margin-bottom: -5px;
}

.geolink:hover .geoIco
{
    content: url(https://pp.userapi.com/c639428/v639428369/623a6/O1kmjXmJV_g.jpg);
}

.geoIco,
.geolink a
{
    display: inline-block;
}

.geolink:hover,
.pageSetting:hover .settingsLabel,
.newsSwitcher:hover,
a:hover
{
    color: red;
}

a
{
    touch-action: manipulation;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.infoPanel
{
    margin-bottom: 30px;
    padding-left: 65px;
    grid-area: info;
    display: flex;
}

.newsPanel
{
    width: 600px;
    margin-right: 20px;
}

.nowMediaBtn,
.localMediaBtn
{
    display: none;
}

.nowMediaBtn:checked + .firstNewsSwitcher h1 .newsSwitcher,
.localMediaBtn:checked + .secondNewsSwitcher h1 .newsSwitcher,
.homeTabs a:visited,
.blueLink,
.blueLink:visited,
a
{
    color: #0054b9;
}

.firstNewsSwitcher,
.secondNewsSwitcher
{
    display: inline-block;
    margin-right: 12px;
}

.nowMediaBtn:checked ~ .nowInMediaList,
.localMediaBtn:checked ~ .localNewsList
{
    display: block;
}

.nowInMediaList,
.localNewsList
{
    display: none;
}

.newsSwitcher
{
    font-weight: 400;
    color: #6da2e1;
}

.geolink,
.pageSetting
{
    display: inline-block;
}

.homeLink,
.homeLink:visited
{
    color: black;
}

.homeLink:hover,
.homeTabs a:hover
{
    color: red;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

li
{
    margin-bottom: 10px;
}

.nowInMediaList ul li::before,
.localNewsList ul li::before
{
    position: absolute;
    margin-left: -14px;
    content: '•';
    font: .75em/1.6em Verdana, sans-serif;
}

.teaser
{
    padding-left: 20px;
    grid-area: teaser;
}

.teaserLink
{
    position: relative;
    display: inline-block;
}

.teaserAge
{
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 3px;
    padding: 2px 3px;
    font-size: 78%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    opacity: .45;
    border-radius: 3px;
}

h1
{
    font-size: 138.5%;
    font-weight: 400;
    display: block;
    margin-top: 11px;
}

.datetime
{
    color: #999;
    font-size: 84.6%;
    white-space: nowrap;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.logo img
{
    width: 140px;
    height: 100px;
}

.logo
{
    margin-left: -72px;
    margin-bottom: -30px;
    display: inline-block;
}

.homeLogo
{
    width: 189px;
    grid-area: logo;
}

.homeTabs
{
    white-space: nowrap;
    font-size: 1.16em;
    height: 36px;
    margin-bottom: -40px;
}

.homeTabs a
{
    display: inline-block;
    margin-right: 20px;
}

.homeArrowSearch
{
    padding-left: 65px;
    grid-area: search;
}

.inputSearch
{

    width: 900px;
    margin-right: 0;
    height: 30px;
    margin-top: -36px;
    display: flex;
}

.inputField
{
    width: 822px;
    border-width: 2px;
    border-color: #ffdb4d;
    border-style: solid;
}

.inputControl
{

    margin-left: 13px;
    height: 36px;
    width: 100%;
    padding: 0;
    vertical-align: top;
    color: #000;
    border: 0 solid transparent;
    outline: 0;
    background: 0 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-align: start;
    font-family: Arial;
    font-size: 16px;
}

.searchButton
{
    margin-left: -80px;
    align-self: center;
    display: inline-block;
    background: url('searchButton.jpg') no-repeat;
    width: 88px;
    height: 31px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.searchExample
{
    margin-top: 8px;
}

.greyLink,
.greyLink:visited
{
    color: #999;
}

.blackLink,
.blackLink:visited
{
    color: black;
}

.redHover:hover
{
    color: red;
}

.adBanner
{
    overflow: hidden;
    width: 900px;
    grid-area: advertising;
    margin-left: 65px;
}

.widgetHeader
{
    margin-bottom: 10px;
}

.programList li span,
.programList li a
{
    margin-right: 8px;
}

.weatherWidget h1,
.widgetTraffic h1,
.widgetTVprogram h1
{
    display: inline-block;
}

.trafficIco,
.weatherIco
{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: -15px 7px -10px;
}

.widgetJokes input,
.widgetJokes .joke,
.widgetJokes label
{
    display: none;
}

.jokeSwicherBtn:checked + .joke,
.jokeSwicherBtn:checked + .joke + label
{
    display: block;
}

.widgetAutonews
{
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.autonewsList
{
    width: 100%;
    height: 100%;
    padding-right: 22px;
    box-shadow: inset -3px -40px 15px rgba(80, 80, 80, .4), inset
        -10px 0 15px rgba(80, 80, 80, .4);
    overflow-y: scroll;
}

.autonewsList a,
.autonewsList .datetime
{
    margin-bottom: 11px;
}

.widgetsArea
{
    width: 900px;
    margin-left: 45px;
    display: flex;
    flex-wrap: nowrap;
}

.widgetsColumn
{
    margin-right: 10px;
}

.settingsCheckbox,
.settingsList,
.widget,
.checkboxForColumn1,
.checkboxForColumn2,
.checkboxForColumn3
{
    display: none;
}

.widgetMVActivator:checked ~ .widgetsArea .widgetMostVisited,
.widgetJokesActivator:checked ~ .widgetsArea .widgetJokes,
.widgetTVprogramActivator:checked ~ .widgetsArea .widgetTVprogram,
.widgetAutonewsActivator:checked ~ .widgetsArea .widgetAutonews,
.weatherWidgetActivator:checked ~ .widgetsArea .weatherWidget,
.widgetTrafficActivator:checked ~ .widgetsArea .widgetTraffic,
.widgetMapEkbActivator:checked ~ .widgetsArea .widgetMapEkb,
.postsWidgetActivator:checked ~ .widgetsArea .widgetPosts
{
    display: block;
}

.checkboxForColumn1:indeterminate ~ .widgetsArea .wCol1,
.checkboxForColumn2:indeterminate ~ .widgetsArea .wCol2,
.checkboxForColumn3:indeterminate ~ .widgetsArea .wCol3
{
    display: none;
}

.settingsCheckbox:checked ~ .settingsList
{
    padding-left: 5px;
    width: 150px;
    display: block;
    z-index: 999;
    position: absolute;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.widgetMVActivator:checked ~ .headline .widgetMVActivator::before,
.widgetJokesActivator:checked ~ .headline .widgetJokesActivator::before,
.widgetTVprogramActivator:checked ~ .headline .widgetTVprogramActivator::before,
.widgetAutonewsActivator:checked ~ .headline .widgetAutonewsActivator::before,
.weatherWidgetActivator:checked ~ .headline .weatherWidgetActivator::before,
.widgetTrafficActivator:checked ~ .headline .widgetTrafficActivator::before,
.widgetMapEkbActivator:checked ~ .headline .widgetMapEkbActivator::before,
.postsWidgetActivator:checked ~ .headline .postsWidgetActivator::before
{
    content: '\2713';
    background-color: #ffdb4d;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: black;
    text-align: center;
    line-height: 15px;
    margin-right: 5px;
}

.widgetControl::before
{
    content: '\2713';
    background-color: #ffdb4d;
    font-size: 15px;
    color: #ffdb4d;
    text-align: center;
    line-height: 15px;
    margin-right: 5px;
}

.widget
{
    padding: 8px 4px 4px 20px;
    margin-top: 6px;
    width: 270px;
    max-width: 300px;
    text-overflow: ellipsis;
}

.settingsList
{
    padding: 10px;
}
